<h1>Estates</h1>
<div *ngIf="estatesService.estates$ | async as estates">
  <div class="estates">
    <app-estate-card
      *ngFor="let estate of estates; trackBy: trackByFn"
      [routerLink]="['/estates', estate.attributes.field_inmu_refe]"
      [estate]="estate"
    ></app-estate-card>
  </div>
  <button (click)="fetchNextEstates()">Load more</button>
</div>
<ng-container
  *ngIf="
    (estatesService.estates$ | async) === null && (pollingService.isPolling | async) === false
  "
>
  <span style="color: red">No se han encontrado referencias.</span>
</ng-container>
