<h1>Estates</h1>
<pre *ngIf="estates$ | async as estates">
  <ng-container appTracker *ngFor="let estate of estates; trackBy: trackByFn">
    <pre [routerLink]="['/estates', estate.attributes.field_inmu_refe]">{{ estate | json }}</pre>
  </ng-container>
  <button (click)="fetchNextEstates()">Load more</button>
</pre>
<ng-container *ngIf="(estates$ | async) === null && (pollingService.isPolling| async) === false">
  <span style="color: red;">No se han encontrado referencias.</span>
</ng-container>

